@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@200&family=Outfit:wght@300&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
  background: linear-gradient(90deg, #1ce026 0%, #000851 100%);
}
/* #1ce026 */
/* --------------HERO------------------ */
.hero {
  box-sizing: border-box;
  height: 500px;
  background-color: #1ce02673;
  /* #32e32c */
  clip-path: ellipse(92% 100% at 78.86% 0%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
#title {
  color: white;
  font-size: 4rem;
  cursor: default;
}
#tagline {
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  cursor: default;
}
.firstLetter {
  color: rgb(4, 83, 15);
  opacity: 0.8;
}

/* ----------Navbar--------------- */
.aboutwhite {
  color: white;
  font-weight: bold;
  margin-bottom: 5rem;
}
h3 {
  color: white;
}
#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about p {
  width: 20rem;
  color: white;
  word-break: break-all;
}

#img {
  clip-path: circle();
}

.navbar-brand {
  cursor: pointer;
}
.nav-link {
  display: inline-block;
  position: relative;
}
.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.trial {
  display: flex;
  flex-direction: column;
}

#contact,
#services,
.box {
  padding-top: 3.5rem;
}
/* ---------------FORM-------------- */
.formBox {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#form-class {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2.5rem;
  height: 5rem;
  z-index: 2;
}
.form-control {
  border: 2px solid black;
}
.contacttitle {
  padding-top: 25px;
}
.mapclass {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
