@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@200&family=Outfit:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Outfit", sans-serif;
}
.hero {
  display: block;
  box-sizing: border-box;
  height: 500px;
  background-color: #32e32c;
  clip-path: ellipse(87% 100% at 78.86% 0%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
h1 {
  color: white;
  font-size: 5rem;
}
h3 {
  color: white;
  font-size: 2rem;
  font-weight: lighter;
}
.firstLetter {
  color: rgb(4, 83, 15);
  opacity: 0.8;
}
